
.vs
*.db
*.*db

obj

bin

*.dll
*.exe

packages

Release
Debug
ipch
*.vcxproj.user

.exe
.pdb

# gSOAP interim files
*.req.xml
*.res.xml
soapH.h
soapC.c
soapC.cpp
soapClient.c
soapClientLib.c
soapServerLib.c
soapStub.h
soapServer.c
*.nsmap
